image{
  width: 400px;
}

h1,h2{
    text-align: center;
    color: blue;
    font-size: 130%;
}

a:visited {
    color: green;
  }
  
  
  a:hover {
    color: rgb(29, 23, 114);
  }
  
  
  a:active {
    color: rgb(161, 49, 77);
  }

 .text-center{
  border:1px solid black;
  padding: 10px;
  margin: 40px;
  border-width: 7px;
  border-style: double;
  text-align: center;
 }
  form{
      font-size: 150%;
      font-style: oblique;
      color: black;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-color: black;
  }
  td, th,tr {
    border: 1px solid #1d1c1c;
    text-align: left;
    padding: 10px;
    border-style: groove;
  }
